<div
  class="card w-100 mt-5 d-flex align-items-center justify-content-center"
  style="position: fixed; left: 0; bottom: 0; width: 100%"
>
  <div class="card-header">
    <p>&#169;<%= new Date().getFullYear() %> All Rights Reserved</p>
    <footer class="blockquote-footer text-center">
      <cite title="Source Title">Atul Kishor</cite>
    </footer>
  </div>
</div>
